## package has a dynamic library
useDynLib(libR_interface)

## import
import(DBI)

## driver constructor
export(MonetinR)
exportMethods(dbSendUpdate)

importFrom(MonetDB.R, monet.frame)
importFrom(MonetDB.R, set.debug)
export(mirf)

## 
export(init, query, stop)
