## package has a dynamic library
useDynLib(libR_interface)

## import
import(DBI, MonetDB.R)

## driver constructor
export(MonetinR)
exportMethods(dbSendUpdate)

export(monetinr.frame, monetinrframe)
export(adf)
export(mirf)

## 
export(init, query, stop)
